@media screen and (max-width: 1000px) {
  .TitleText{
    font-size:55px!important;
    padding-top:100px!important;
    padding-left:10px;
  }
  .headerimg .TitleText{
    overflow:hidden;
    background: rgba(255,255,255,0.74);
    margin:0px;
  }
  .headerimg .SubText{
    background: rgba(255,255,255,0.74);
    font-size:20px!important;
    width:100%!important;
    color:black;
    font-weight:bold;
    padding-right:10%;
    margin-bottom:0px;
    padding-bottom:15px;
    padding-left:10px;
  }
  .headerimg{
    background-size:cover;
    height:auto;
  }
  .headerimg .buttons{
    width:100%;
    padding-left:10%;
    background: rgba(255,255,255,0.74);
  }
  .headerimg #headerBut1, .headerimg #headerBut2{
    font-size: 25px;
    width:300px;
    padding-left:10px;
  }
  .headerimg #headerBut2{
    border-width:5px;
  }
  .nodes{
    width:80%;
    height:90px!important;
    padding-top:5px;
  }
.nodes h1, .nodes h3, .nodes h2{
  float:left;
  font-weight:bold;
}

.nodes h1, .nodes h3, .nodes h2{
  margin-left:8%;
  margin-top:2%;
}

.nodes h1{
  margin-top:4%;
}

.nodes h3{
  margin-top:2%;
  font-size:30px;
  margin-right:20px;
}

.nodes h2{
  font-size:30px;
}
.blueDot{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color:rgb(43,97,209);
  z-index: 2;
  overflow:hidden;
}
.nodes .smallDesc{
  font-size:15px;
  text-align:left;
}
.smallDesc{
  font-size:15px;
}
.info-graphs .SubText{
  width:100%;
  font-size:20px!important;
  margin-right:50px;
}
.info-graphs .TitleText{
  padding-top:15px!important;
  font-size:45px!important;
}
.circleGraph{
  width:100%;
  margin-right:0px;
  margin-left:10px;
}

.lineGraph{
  width:100%;
}

.info-graphs .buttons{
  margin-left:38px;
}
  .info-graphs .buttons{
    width:140%;
    padding-left:10%;
  }
  .info-graphs #headerBut2{
    font-size: 25px;
  }
  .info-graphs #headerBut2{
    border-width:5px;
  }
  .lineGraph{
    width:100%;
  }
  .info-Hierarchy .SubText{
  width:100%;
  font-size:20px!important;
}

.info-Hierarchy .buttons{
  margin-left:38px;
}
  .info-Hierarchy .buttons{
    width:140%;
    padding-left:10%;
  }
  .info-Hierarchy #headerBut2{
    font-size: 25px;
  }
  .info-Hierarchy #headerBut2{
    border-width:5px;
  }
  .divContainer img{
    visibility:hidden;
}
.doubleDiv{
  width:100%;
  margin-left:0%!important;
  margin-bottom:10%;
  padding-bottom:10%;
  height:400px;
}

  .Node{
    margin-top:5%;
    height:50%;
    padding-top:1%;
    padding-bottom:70px;
  }
  .Reward{
    height:20%!important;
  }
  .Reqs{
    padding-top:10px;
    height:385px;
    font-size:85%;
  }
  .Placeholder{
    padding-top:5%;
    margin-top:5%;
    width:60%!important;
    height:80%!important;
  }
  .hardware{
    margin-top:15%!important;
  }
  .btnTrans{
    margin-top:4%;
    height:25%;
    font-size:20px;
    width:30%;
  }
  
  .stakingSub{
  width:100%;
}

.hardwareDiv{
}
.hardwareDiv .productDiv{
  font-size:20px;
  margin-left:30px;
  width:70%;
}
.hardwareDiv .btnTrans{
  font-size:15px!important;
  width:70%!important;
  margin-left:30px;
}
.hardwareDiv .SubText{
  margin-left:5px;
  font-size:15px!important;
}

.div8 .TitleText{
  font-size:50px!important;
}

.div9 .SubText{
  padding-top:0px;
  font-size:20px;
}

.puchaseOption{
  float:left;
  width:80%;
  box-shadow: 0.5vw 0.5vw 2vw 0.1vw rgba(43, 97, 209, 0.1);
  height:70%;
  border-radius:3vw;
  font-size:30px;
  color:black;
  text-align: center;
}

.puchaseOption img{
  width:80%;
  margin-left:15%;
  float:left;
}

.btnTrans2{
  font-size:15px!important;
  width:70%!important;
  margin-left:30px;
}
.small-grey{
  font-size:15px!important;
  color:black;
}

.guideName{
  font-size:15px;
}

.guideName2{
  font-size:15px;
}

.parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(9, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 3 / 1 / 4 / 3; }
.div2 { grid-area: 5 / 1 / 6 / 3; }
.div3 { grid-area: 6 / 1 / 7 / 3; }
.div4 { grid-area: 7 / 1 / 8 / 3; }
.div5 { grid-area: 8 / 1 / 9 / 3; }
.div6 { grid-area: 9 / 1 / 10 / 3; }
.div7 { grid-area: 4 / 1 / 5 / 3; }
.div8 { grid-area: 1 / 1 / 2 / 3; }
.div9 { grid-area: 2 / 1 / 3 / 3; }

.div8 .TitleText{
  padding-top:0px;
}

.div8{
  height:20%;
}

.div8 .TitleText .lineBreak{
    display: block;
}
.div8 .TitleText .lineBreak::before {
      content: attr(data-text);
}
.navbar_navbar2__idmo4{
  visibility: hidden;
  width:20%!important;
}
}