
.overlay{
  background-color:rgba(23,89,218,0.1);
  padding:0px;
  z-index: 2;
  height:120vh;
  width:100%;
  position: absolute;
}


.blueDot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color:rgba(43,97,209,1);
  z-index: 2;
  overflow:hidden;
}

.topnav{
  background-color:white!important;
}

.headerimg{
  margin:0;
  padding:0;
  margin-top:3%;
  background-image:url("images/headerImg.png");
  height:120vh;
  width:100%;
  background-size:contain;
  background-repeat:no-repeat;
}


.navbar_navbar2__idmo4{
  overflow:visible!important;
}

body{
  font-family:montserrat;
}

.blueText{
  color:#2B61D1;
}

.TitleText{
  padding-top:15%;
  padding-left:10%;
  color:#303B52;
  font-weight:bold;
  font-size:4.5vw;
  line-height:105%;
}

.SubText{
  line-height:135%;
  padding-left:10%;
  color:rgba(48,59,82,0.7);
  font-weight:400;
  font-size:1.15vw;
  width:40%;
}

.buttons{
  width:40%;
  padding-left:10%;
}

#headerBut1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
background: #2B61D1;
border-radius: 70px;
display:inline-block;
align-items: center;
text-align: center;
color: #FFF;
width:200px;
padding-top:10px;
/*height:50px;*/
padding-bottom:10px;
}


#headerBut1:hover{
  background-color: #161A23;
  color: #FFFFFF;
}

#headerBut2{
border: 2px solid #5F6578;
border-radius: 70px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
background: transparent;
border-radius: 70px;
display:inline-block;
align-items: center;
text-align: center;
color: #5F6578;
width:200px;
padding-top:8px;
height:50px;
padding-bottom:10px;
}

#headerBut2:hover{
  background-color: #FFFFFF;
  color: #161A23;
}


.nodes{
  background-image: linear-gradient(rgba(255,255,255,0.84), rgba(255,255,255,0.11));
  width:25%;
  height:10%;
  margin-left:10%;
  margin-top:3%;
  border-radius:20px;
  overflow:hidden;
}

.nodes h1, .nodes h3, .nodes h2{
  float:left;
  font-weight:bold;
}

.nodes h1, .nodes h3, .nodes h2{
  margin-left:12%;
  margin-top:6%;
}

.nodes h1{
  margin-top:10%;
}

.nodes h3{
  margin-left:15%;
  margin-top:7%;
  font-size:1.5vw;
}

.smallDesc{
  color:#999CB1;
  margin-left:10%;
  font-size:1vw;
}