.uppercase{
  text-transform: uppercase;
}

.blue-text{
  color:#2B61D1!important;
}

.light-blue-text{
  color:#2D8EFF!important;
}

.bold{
  font-weight:bold;
}

.smallDesc{
  color:#999CB1;
  font-size:1vw;
}

.headerimg .smallDesc{
  margin-left:10%;
}

.center{
  text-align:center;
}

.left{
  text-align:left;
}

.right{
  float:right;
}

.center-paragraph{
  text-align:center;
  margin-left:20%;
  margin-right:20%;
}

.small-grey{
  line-height:135%;
  color:rgba(152,167,185,0.5);
  font-weight:400;
  font-size:1.15vw;
}